{{#each response}}
<p>
  <strong>
    {{@key}}
  </strong>
  {{ .}}
</p>
{{/each}}

<hr>

{{#if status.error}}
  <p>Deu erro ao tentar enviar o arquivo!</p>
  <a href="..">Voltar</a>
{{/if}}

<form action="/" method="POST">
  <input type="submit" >
</form>